body {
margin:20px  auto; /* 20px on top-bottom and auto for left-right*/
border: 20px solid #bdc3c7;
padding: 20px;
max-width: 700px; /*  define max-width for the case of full screen - it won't be bigger than 700px*/
width: 80%; /*  define width = 80% for the case of screen is shrinked, then the body will be 80% of the screen */
font-family: 'Abril Fatface', cursive;
}

.date {
text-transform: uppercase;
color:#3498db;
letter-spacing: 0.2rem; /* 0.2rem means the space area will will 0.2 bigger than standard spacing of other lettres */
}

h2 {
	color: #2c3e50;
	font-size: 2.0rem;
}

.quote {
	border-left: 2px solid #bdc3c7;
	padding-left: 5px;
}

hr {
     border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.post {
	margin-bottom: 20px;
}