body {
	background: orange;
}

li {
	border: 2px solid red;
}

#special {
	color: orange;
	background: green;
	border: 2px solid black;
}

.completed {
	background: blue;
	text-decoration: line-through;
}