*{
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Tahoma', sans-sarif;
	color: #666; /* dark gray */
	font-size: 16px;
	background: #f9f9f9;
	line-height: 1.6em;
}
ul, li{
	list-style: none;
}
#container{
	width: 60%;
	margin: 30px auto;
	overflow: auto;
}
h1{
	text-align: center;
	margin-bottom: 20px;
}
.title{
	height: 40px;
	background: #6bb170;  /* dark green */
	color: #fff;   /* white */
	text-align: center;
	padding-top: 13px;
}
.faq li{
	padding: 20px;
}
.faq li.q{
	background: #eee;  /* gray */
	font-weight: bold;
	font-size: 120%;
	border-bottom: 1px #ddd solid;
	cursor: pointer;  /* we want the cursor to be pointer when we hover over it */
}
.faq li.a{
	background: #ddd;
	display: none;  /* it won't be displayed on the screen */
}
@media(max-width: 800px){

	#container {
		width: 90%;
	}

}